; darksim, Andy Kosela <akosela@andykosela.com>

;cd_path .\
install_path .\
language english

; load crf, res, motion.db
resname_base .\patches+.\tgpatch+.\data+.\data\res

; load mis, gam, mission dml
load_path .\data

script_module_path .\+.\data
movie_path .\data\movies
